$black: #000000;
$black50: rgba(0,0,0,.5);
$white50: rgba(255,255,255,0.5);
$grey50: #F9F9F988;
$greyc8: #c8c8c8;
$greye9: #e9e9e9;
$greyc850: #c8c8c888;
$grey4a: #4A4A4A;
$grey4a50: #4A4A4A88;
$greyf1: #F1F1F1;
$white: #ffffff;
$green: #7DC242;

$fs-24: 24px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-10: 10px;