@import 'helpers/common.scss';

.page-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: sticky;
  letter-spacing: 2px;
  font-size: $fs-12;
  box-shadow: 0 2px 4px 0 $black50;
  .free-shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: $black;
    color: $white;
  }
  .header {
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 35px;
    }
    span {
      display: flex;
      align-items: center;
      flex-basis: 33%;
      justify-content: center;
      &:last-child {
        justify-content: flex-end;
      }
      &:nth-child(1), &:nth-child(2) {
        justify-content: flex-start;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .page-header {
    .header {
      padding: 20px 50px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        height: 50px;
      }
      span {
        display: flex;
        align-items: center;

      }
    }
  }
}