@import 'helpers/common.scss';

.carousel-wrapper {
  width: calc(100% - 20px);
  padding: 30px 10px;
  color: $grey4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $greyf1;
  .carousel-title {
    font-size: $fs-16;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  .carousel-tiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chevron {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-wrapper {
    width: calc(100% - 100px);
    padding: 30px 50px;
    .carousel-title {
      font-size: $fs-24;
      text-align: left;
    }
    .chevron {
      cursor: pointer;
      display: initial;
      border: 2px solid $grey4a50;
      height: 25px;
      width: 25px;
      border-right: none;
      border-bottom: none;
      position: absolute;
      &.left {
        transform: rotate(-45deg);
        left: 20px;
      }
      &.right {
        transform: rotate(135deg);
        right: 20px;
      }
    }
  }
}